@font-face {
  font-family: 'icomoon';
  src:  url('https://cdn.statically.io/gh/hattorishion/fonteteste/main/icomoon.eot');
  src:  url('https://cdn.statically.io/gh/hattorishion/fonteteste/main/icomoon.eot') format('embedded-opentype'),
    url('https://cdn.statically.io/gh/hattorishion/fonteteste/main/icomoon.ttf') format('truetype'),
    url('https://cdn.statically.io/gh/hattorishion/fonteteste/main/icomoon.woff') format('woff'),
    url('https://cdn.statically.io/gh/hattorishion/fonteteste/main/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-akatsuki:before {
  content: "\e900";
}
.icon-avaliador-lua:before {
  content: "\e901";
}
.icon-avaliador:before {
  content: "\e902";
}
.icon-colonia:before {
  content: "\e903";
}
.icon-coroa-lua:before {
  content: "\e904";
}
.icon-coroa:before {
  content: "\e905";
}
.icon-logoforum-svg:before {
  content: "\e906";
}
.icon-mestre-lua:before {
  content: "\e907";
}
.icon-mestre:before {
  content: "\e908";
}
.icon-moderador-lua:before {
  content: "\e909";
}
.icon-moderador:before {
  content: "\e90a";
}
.icon-nuvem:before {
  content: "\e90b";
}
